<%= title "Log In" %>
<% at_page("log in") %>

<%= form_for :session, url: new_session_path do |f| %>
<div class="form-group row">
  <div class="col-2">
    <%= f.label :email, class: 'col-form-label' %>
  </div>
  <div class="col-10">
    <%= f.email_field :email, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <div class="col-2">
    <%= f.label :password, class: 'col-form-label' %>
  </div>
  <div class="col-10">
    <%= f.password_field :password, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <div class="offset-2 col-10">
    <%= f.submit 'Log in', class: 'btn btn-primary btn-sm' %>
  </div>
</div>
<% end %>

