<% content_for :menu do %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <%= link_to 'EventManager', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
               <%= nav_item 'home', root_path, page %> 
               <%= nav_item 'categories', categories_path, page %> 
               <%= nav_item 'about', about_pages_path, page %> 
               <%= nav_item 'register', new_user_path, page %> 
               <%= nav_item 'log in', new_session_path, page %> 
            </ul>
        </div>
    </nav>
<% end %>